extends ../layouts/default

block main
  h1= expedition.title

block content
  .row
    .col-md-8
      p=expedition.body
      .rating
        if (req.user && expedition.hasRatingFrom(req.user._id))
          p Your Rating:&nbsp;
            - var userRating = expedition.hasRatingFrom(req.user._id).score
            each val in [1, 2, 3, 4, 5]
              if (val <= userRating)
                i.text-warning.fa.fa-star
              else 
                i.text-primary.fa.fa-star
        else 
          p Rate this epedition:
          each val in [1, 2, 3, 4, 5]
            form(action="/expeditions/"+expedition.id+"/ratings", method="post", onsubmit="return confirm('Are you sure?')", style="display:inline;")
              input(type='hidden', name='_csrf', value="#{csrf_token}")
              input(type='hidden', name='score', value=val)
              button(type="submit")
                i.muted.fa.fa-star
        p Avg Rating:&nbsp;
          - var averageRating = expedition.rating.overall
          each val in [1, 2, 3, 4, 5]
            if (val <= averageRating)
              i.text-warning.fa.fa-star
            else 
              i.text-primary.fa.fa-star
      .meta
        - if (expedition.user)
          - var name = expedition.user.name ? expedition.user.name : expedition.user.username
          p Author :&nbsp;
            a(href="/users/"+expedition.user._id)= name
          P Description :&nbsp;
            span= expedition.description

        - if (expedition.tags)
          p Tags &nbsp;
            - each tag in expedition.tags
              i.muted.fa.fa-tag &nbsp;
              a.tag(href="/tags/"+tag)= tag
              | &nbsp;&nbsp;

        p Created on: 
          span.muted= formatDate(expedition.createdAt, "%b %d, %Y at %I:%M %p")

      .places
        h3 Places:
        - each place in expedition.places
          .placebox
            hr
            p= place.name
            p.muted= place.description
            img(src!=place.staticImage)

    .col-md-4
      - if (!expedition.isNew && expedition.image && expedition.image.files && expedition.image.files.length)
        img(src=expedition.image.cdnUri + '/mini_' + expedition.image.files[0])

  form(action="/expeditions/"+expedition.id, method="post", onsubmit="return confirm('Are you sure?')")
    input(type='hidden', name='_csrf', value="#{csrf_token}")
    a.btn.btn-default(href='/expeditions/'+expedition._id+'/edit', title="edit") Edit
    | &nbsp;
    input(type="hidden", name="_method", value="DELETE")
    button.btn.btn-danger(type="submit") Delete

  br
  h3 Comments
  - each comment in expedition.comments
    include ../comments/comment
  include ../comments/form
